@page "/counter"
@using DrinksMachineWebsite.Data

<PageTitle>Drinks</PageTitle>

<h1>List of Drinks</h1>

@if (drinks[0] == null)
{
    <p><em>Loading...</em></p>
}
else
{
<table class="table">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>Alcohol</th>
            <th>Amount of shots</th>
        </tr>
    </thead>
    <tbody>
        @for (int i = 0; i < 1; i++)
        {
            
            <tr>
                <td>@drinks[i].Name</td>
                <td>@drinks[i].Description</td>
                <td>@drinks[i].AlcoholAndAmounts.Alcohol.name</td>
                <td>@drinks[i].AlcoholAndAmounts.amountOfShots</td>
            </tr>
        
        }
        
    </tbody>
</table>
}
<button class="btn btn-primary" @onclick="Updatelist">make gin Tonic</button>




@code {
    private int currentCount = 0;
    public static Alcohol gin = new Alcohol("Gin", 40, 70);
    private static AlcoholAndAmount ginInGinTnoic = new AlcoholAndAmount(gin, 2);
    public Drinks ginTonic = new Drinks("Gin & Tonic", "a nice classic that my dear babesiboo loves", ginInGinTnoic); 

    public Drinks[] drinks = new Drinks[100];

    public void Updatelist(){
        drinks[0] = ginTonic;
    }


    private void IncrementCount()
    {
        currentCount++;
    }
}
